@media (max-width:700px) {
    header {
        background: #e9c46a;
        text-align: center;
        color: #000
    }
    header h1 {
        font-weight: 700;
        padding: 1em;
        padding-top: 2.5em;
        padding-bottom: 0;
        font-size: 2.5em;
        margin: 0
    }
    header p {
        font-size: 18px;
        color: #222
    }
    header span {
        font-weight: 700;
        font-size: 30px
    }
    header .cover {
        color: #000;
        overflow: hidden;
        background: #fff;
        height: 150px
    }
    header .diagonal {
        height: 200px;
        width: 150%;
        background: #e9c46a;
        transform-origin: top left;
        transform: translateX(-20px) rotate(-5deg)
    }
    header svg {
        display: block;
        width: 100%;
        height: 75px;
        background: #e9c46a
    }
    header svg polygon {
        fill: #fff
    }
}

@media (min-width:700px) {
    header {
        background: #e9c46a;
        text-align: center;
        color: #000
    }
    header h1 {
        font-weight: 800;
        padding: 1em;
        padding-bottom: 0;
        margin: 0;
        font-size: 3em;
        letter-spacing: 0px
    }
    header p {
        font-size: 18px;
        color: #222
    }
    header span {
        font-weight: 700;
        font-size: 30px
    }
    header .cover {
        color: #000;
        overflow: hidden;
        background: #fff;
        height: 150px
    }
    header .diagonal {
        height: 200px;
        width: 150%;
        background: #e9c46a;
        transform-origin: top left;
        transform: translateX(-20px) rotate(-5deg)
    }
    header svg {
        display: block;
        width: 100%;
        height: 150px;
        background: #e9c46a
    }
    header svg polygon {
        fill: #fff
    }
}