.menubar {
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    transition: all .3s ease;
    transform-origin: right center;
    display: flex;
    justify-content: center;
    overflow-x: none;
    transform: translateX(100%);
    perspective: 1000px;
}

.menubar img {
    display: none;
    margin: auto;
    width: 120px;
    margin-bottom: 15px;
    /* transform: translate(-20px, -40px); */
}

.menubar a {
    padding: 5px;
    margin: 0;
    text-decoration: none;
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    font-weight: 700;
    transform: rotateY(90deg);
    transform-origin: left center;
    transition: transform 0.3s linear;
}

.menubar a:active,
.menubar a:hover {
    color: yellow;
}

.menu-trigger {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 0;
    z-index: 15;
    margin: 20px
}

.menu-trigger .bar1,
.menu-trigger .bar2,
.menu-trigger .bar3 {
    width: 40px;
    margin: 6px 0;
    height: 6px;
    background: #fff;
    box-shadow: 0 0 5px #000;
    display: block;
    transition: all .3s ease;
}

.menu-close {
    transform: translateX(0);
}

.menu-close a {
    transform: rotateY(0);
}

.menu-close .bar1 {
    transform-origin: center left;
    transform: rotate(45deg)
}

.menu-close .bar2 {
    background: transparent;
    box-shadow: 0 0 transparent;
}

.menu-close .bar3 {
    transform-origin: center left;
    transform: rotate(-45deg)
}

/* this is to fix the blueish color of links */
a i,
footer a {
    color: white;
}

@media (min-width:500px) {
    .menubar {
        right: 0;
        width: 300px;
        box-sizing: border-box;
        overflow-X: hidden;
    }

    .menubar img {
        display: block;
    }

    .menubar a {
        transform-origin: center center;
        text-align: left;
        margin-left: 150px;
    }
}

/* setting delay */
.menubar a:nth-child(1) {
    transition-delay: 0.1s;
}

.menubar a:nth-child(2) {
    transition-delay: 0.125s;
}

.menubar a:nth-child(3) {
    transition-delay: 0.15s;
}

.menubar a:nth-child(4) {
    transition-delay: 0.175s;
}

.menubar a:nth-child(5) {
    transition-delay: 0.2s;
}

.menubar a:nth-child(6) {
    transition-delay: 0.225s;
}

.menubar a:nth-child(7) {
    transition-delay: 0.25s;
}

.menubar a:nth-child(8) {
    transition-delay: 0.275s;
}

.menubar a:nth-child(9) {
    transition-delay: 0.3s;
}

.menubar a:nth-child(10) {
    transition-delay: 0.325s;
}

.menubar a:nth-child(11) {
    transition-delay: 0.35s;
}